@use '@/styles/variables' as *;


.button {
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;

  &:active {
    transform: scale(0.98);
  }
}


.primary {
  background: var(--primary);
  color: var(--primary-foreground);
  border: none;

  @include hover {
    opacity: 0.9;
  }
}

.secondary {
  background: transparent;
  color: var(--foreground);
  border: 1px solid var(--border);

  &.active {
    background-color: var(--muted);
    pointer-events: none;
  }

  @include hover {
    background: var(--muted);
  }
}

.danger {
  background: transparent;
  color: var(--destructive);
  border: none;
}

.large  {
  width: 100%;
  padding: 16px 24px;
  font-size: 16px;

  @include xs {
    padding: 10px 24px;
  }
}

