@use "@/styles/variables" as *;

.itemsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--space-sm);
}

.empty {
  text-align: center;
  padding: var(--space-lg);
  color: var(--muted-foreground);
  font-size: 16px;
}

.card {
  cursor: pointer;
  transition: border-color 0.2s, transform 0.2s;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  @include hover {
    border-color: var(--primary);
  }
}


.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: var(--space-xs);
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.favorite {
  width: 25px;
  height: 25px;
  color: var(--primary);

  @include hover {
    & svg {
      fill: var(--primary);
    }
  }

  &.active {
    & svg {
      fill: var(--primary);
    }
  }

}

.category {
  height: 30px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  color: var(--muted-foreground);
  background: var(--muted);
  padding: 4px 10px;
  width: max-content;
  border-radius: 6px;
  text-transform: capitalize;

  @include hover {
    background: var(--primary-foreground);
  }
}
.categoryEmpty {
  height: 30px;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.price {
  background: var(--muted);
  color: var(--foreground);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  font-family: --font-geist-mono, monospace;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.deleteBtn {
  width: 25px;
  height: 25px;
  opacity: 0.4;

  & svg {
    transition: 0.2s;
  }
  @include hover {
    color: var(--destructive);
    opacity: 0.8;
  }
}