@use "@/styles/variables" as *;

.header {
  border-bottom: 1px solid var(--border);
  background: var(--secondary);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;

}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  gap: 16px;

  @include xs {
    height: 64px;
  }
}